@import url("https://fonts.googleapis.com/css?family=Anton");
h4 {
  font-family: Anton, sans-serif; }

.row-wrapper {
  background-color: white; }

.content {
  background-color: white;
  color: black;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 420px; }

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }
  #top-nav .content > :nth-child(1) {
    padding: 0; }
  #top-nav .content img {
    max-width: 100px;
    height: 100%;
    padding: 0.5rem;
    padding-bottom: 0;
    padding-left: 7px;
    width: 100%; }

.top-nav-left ul li {
  padding-right: 2rem; }

.top-nav-right ul {
  position: absolute;
  right: 0; }
  .top-nav-right ul li {
    padding-left: 2rem; }

.mobile-nav {
  text-align: center; }
  .mobile-nav .row {
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 30rem; }
    .mobile-nav .row div {
      cursor: pointer; }
      .mobile-nav .row div span {
        color: red;
        font-size: 1.5rem; }
      .mobile-nav .row div p {
        margin-top: -0.5rem; }

.desktop-nav {
  background-color: #f5f5f5;
  padding: 0.5rem;
  padding-top: 1.1rem; }
  .desktop-nav .row {
    margin: 0;
    padding-right: 7px; }
    .desktop-nav .row div {
      padding: 0; }
      .desktop-nav .row div .search-bar {
        margin: 0; }
        .desktop-nav .row div .search-bar div {
          padding: 0; }
          .desktop-nav .row div .search-bar div span {
            background-color: #585858;
            color: white;
            font-size: 1.25rem;
            padding-bottom: 0.7rem;
            padding-left: 0.4rem;
            padding-top: 0.7rem;
            text-align: center; }

.desktop-navbar .row div ul {
  display: flex;
  list-style-type: none;
  padding-left: 0; }
  .desktop-navbar .row div ul li {
    cursor: pointer;
    margin-right: 1.1rem; }
    .desktop-navbar .row div ul li span {
      padding: 0.5rem;
      padding-left: 0; }

#nav-list {
  background-color: #f5f5f5;
  padding: 0.5rem; }
  #nav-list ul {
    display: inline-flex;
    margin-bottom: 0rem;
    padding: 0.25rem;
    width: 100%; }
    #nav-list ul li {
      color: #ee3224;
      display: flex;
      flex: 1 0 25%;
      flex-direction: column;
      justify-content: center;
      text-align: center; }

.search-bar {
  background-color: pink;
  padding: 7px; }
  .search-bar .row {
    cursor: pointer; }
    .search-bar .row input {
      border: none;
      height: auto;
      width: 85%; }

.other-links .row {
  bottom: 0;
  height: 80%;
  max-width: 260px;
  padding-left: 1rem !important;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%; }
  .other-links .row div {
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 0px 2px 0px 0px #ccc;
    max-width: 260px;
    right: 0; }
    .other-links .row div:hover {
      padding-top: 5px;
      box-shadow: 0px 1px 0px 0px #ccc; }
    .other-links .row div p {
      font-size: 0.85rem;
      font-weight: bold;
      height: 100%;
      padding-top: 5px; }

#whats-hot {
  background-color: #0c509f;
  color: white;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

#clearance {
  background-color: #ffd520;
  color: black;
  display: block;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 0;
  top: 0; }

.gif-wrapper {
  margin-top: 9.5rem; }

#gif {
  padding: 7px; }
  #gif div {
    margin: 0; }

#categories div {
  padding: 7px; }

.navbar {
  background-color: #f5f5f5;
  width: 100%; }
  .navbar button {
    border: none; }
    .navbar button:focus {
      outline: none; }
    .navbar button span {
      color: blue; }
  .navbar .navbar-collapse {
    transition: all 1s; }

.navbar-nav li {
  border-bottom: 1px solid #ccc;
  line-height: 2rem; }
  .navbar-nav li a {
    color: black;
    font-size: 0.7rem;
    font-variant: small-caps; }

.toggle-categories {
  display: none !important;
  position: absolute; }

#nested-dropdown div {
  background-color: #f5f5f5; }
  #nested-dropdown div div {
    z-index: 100000000; }

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white; }
  .main-nav :after {
    clear: both; }
  .main-nav li {
    display: block;
    position: relative;
    float: left;
    width: 15rem; }
    .main-nav li:hover > ul {
      display: block;
      position: absolute; }
    .main-nav li:hover li {
      float: none; }
    .main-nav li:hover li a:hover {
      background-color: #dadcdc; }
    .main-nav li a {
      display: table-cell;
      font-size: 0.8rem;
      padding: 0.75rem;
      text-decoration: none;
      white-space: nowrap;
      color: black; }
    .main-nav li ul {
      border: 1px solid #ccc;
      display: none;
      height: 45rem;
      padding-left: 0;
      width: 100%; }
      .main-nav li ul li {
        border-top: 0;
        width: 100%; }
      .main-nav li ul ul {
        left: 100%;
        top: 0%;
        border: 1px solid #dadcdc; }
  .main-nav .oi {
    color: #0c509f; }

.nav-levels {
  width: 10rem;
  background-color: white; }
  .nav-levels .row {
    margin: 0; }
    .nav-levels .row .oi {
      color: #0c509f; }

#nav-level-3 {
  top: -202%; }

.categories-header {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  .categories-header:hover {
    background-color: white; }

.rotate-180-deg {
  transform: rotate(180deg); }

.submenu-header {
  font-weight: bold; }
  .submenu-header a {
    color: #0c509f !important; }

.desktop-categories {
  padding-top: 1rem; }
  .desktop-categories .row {
    padding-left: 15px; }
    .desktop-categories .row ul {
      list-style-type: none;
      display: inline-flex;
      margin-bottom: 0;
      padding-left: 0; }
      .desktop-categories .row ul li {
        cursor: pointer;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.45rem;
        padding-right: 0.45rem;
        text-align: center; }
        .desktop-categories .row ul li:hover {
          background-color: #ee3224;
          color: white; }

#primary-content .row div {
  padding: 0rem; }
  #primary-content .row div img {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%; }
  #primary-content .row div div {
    margin: 0;
    width: 100%; }
    #primary-content .row div div img {
      height: 100%;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      padding: 7px; }
    #primary-content .row div div .left {
      padding-left: 0; }
    #primary-content .row div div .right {
      padding-right: 0; }
    #primary-content .row div div div img {
      width: 100%; }

#secondary-content .row div {
  padding: 0rem; }
  #secondary-content .row div img {
    width: 100%; }
  #secondary-content .row div #text-box {
    background-color: white;
    color: black;
    padding-bottom: 6rem;
    padding-top: 6rem;
    text-align: center; }
    #secondary-content .row div #text-box h3, #secondary-content .row div #text-box h5 {
      font-family: Anton, sans-serif; }
    #secondary-content .row div #text-box h5 {
      text-decoration: underline;
      padding-top: 1rem; }
    #secondary-content .row div #text-box p {
      font-weight: lighter;
      margin: 0; }
  #secondary-content .row div div {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%; }
    #secondary-content .row div div img {
      height: 100%;
      padding: 0px; }
    #secondary-content .row div div .left {
      padding-left: 0; }
    #secondary-content .row div div .right {
      padding-right: 0; }

#image-gallery .row div {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0rem; }
  #image-gallery .row div img {
    cursor: pointer;
    width: 100%; }

#suggestions-slider .content {
  padding-top: 3rem;
  padding-bottom: 3rem; }
#suggestions-slider .slider-header {
  text-align: center;
  font-family: Anton, sans-serif; }
#suggestions-slider .product-slider {
  cursor: pointer;
  width: 100%; }
  #suggestions-slider .product-slider .slick-prev {
    background-color: red;
    left: 0;
    display: none !important; }
  #suggestions-slider .product-slider .slick-next {
    background-color: red;
    right: 0;
    display: none !important; }
  #suggestions-slider .product-slider div img {
    height: 150px;
    margin: 0 auto;
    width: 150px; }
  #suggestions-slider .product-slider div h2, #suggestions-slider .product-slider div h3, #suggestions-slider .product-slider div p {
    color: black;
    text-align: center; }

#email-signup .row {
  padding-bottom: 3rem;
  padding-top: 3rem; }
  #email-signup .row div {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    #email-signup .row div .oi {
      font-size: 3rem; }
    #email-signup .row div h4 {
      font-weight: 400; }
    #email-signup .row div form #enter-email {
      border: 1px solid grey;
      margin-right: -0.25rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    #email-signup .row div form #submit-email {
      background-color: white;
      border: 1px solid black;
      font-weight: bold;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
  #email-signup .row span {
    font-size: .75rem;
    margin: 0 auto;
    text-align: center; }

#advert {
  padding-bottom: 4rem; }
  #advert img {
    width: 100%; }

#app-advert {
  background-color: #d42114; }
  #app-advert .row .app-advert {
    background-color: #d42114;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    #app-advert .row .app-advert h4 {
      font-family: Anton, sans-serif; }
    #app-advert .row .app-advert h5 {
      font-weight: 100; }
    #app-advert .row .app-advert .row {
      margin: 0 auto;
      max-width: 22rem; }
      #app-advert .row .app-advert .row img {
        height: 100%; }

#nearest-store-button {
  background-color: #69c;
  margin-top: 2rem; }
  #nearest-store-button .row {
    background-color: #69c; }
    #nearest-store-button .row div {
      background-color: #69c;
      color: white;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      padding-top: 2rem; }
      #nearest-store-button .row div h4, #nearest-store-button .row div form {
        display: inline-block; }
      #nearest-store-button .row div form #postcode, #nearest-store-button .row div form #submit-postcode {
        padding: 0.5rem; }
      #nearest-store-button .row div form #submit-postcode {
        border: 1px solid white;
        background-color: transparent;
        color: white;
        padding-left: 2rem;
        padding-right: 2rem; }

#mobile-primary-footer {
  border-bottom: 2px solid #333;
  border-top: 3px solid #333;
  padding-bottom: 2rem; }
  #mobile-primary-footer div {
    text-align: center; }
    #mobile-primary-footer div button {
      background-color: #333;
      border: none;
      border-radius: 0.25rem;
      color: white;
      font-weight: bold;
      margin-bottom: 0rem;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%; }

#first-footer {
  background-color: #333; }
  #first-footer .row div ul {
    list-style-type: none; }

#discover-area {
  border: 1px solid;
  margin-top: 1rem; }
  #discover-area .content {
    max-width: 600px; }
    #discover-area .content div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      #discover-area .content div img {
        height: 25px; }

#payment-info {
  margin-top: 1rem; }
  #payment-info .row div {
    text-align: center; }
  #payment-info .row #payment-method-cards .row {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 1rem; }
    #payment-info .row #payment-method-cards .row div {
      padding-left: 5px;
      padding-right: 5px; }
      #payment-info .row #payment-method-cards .row div img {
        width: 100%; }

#social-media {
  background-color: #333; }
  #social-media > .row {
    background-color: #333;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center; }
    #social-media > .row div .social-icons {
      margin: 0 auto;
      max-width: 15rem; }
      #social-media > .row div .social-icons img {
        height: 30px; }
    #social-media > .row .app-advert {
      background-color: #333;
      margin: 0 auto;
      max-width: 400px; }

#second-footer {
  background-color: black; }
  #second-footer .row {
    color: white;
    background-color: black;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    #second-footer .row div {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      border: 1px solid black; }
      #second-footer .row div ul {
        list-style: none;
        display: flex;
        margin-bottom: 0rem;
        padding: 0; }
        #second-footer .row div ul li {
          flex: 1 0 33.33%;
          font-size: 14px; }
        #second-footer .row div ul #border-left-right {
          border-left: 1px solid white;
          border-right: 1px solid white; }

#scroll-to-top-button {
  bottom: 0;
  border-radius: 100%;
  border: 1px solid blue;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: fixed;
  right: -100%;
  width: 3rem;
  transition: all 1s; }
  #scroll-to-top-button .row span {
    color: blue;
    margin: 0 auto; }

@media only screen and (min-width: 768px) {
  #top-nav {
    position: relative;
    top: auto;
    width: auto;
    z-index: auto; }

  .gif-wrapper {
    margin-top: 1rem; }

  #content-split {
    display: block; }

  .navbar {
    display: block; }

  .navbar-brand {
    display: inline-block !important; }

  #primary-content .row > :nth-child(1) {
    padding-right: 7px; }
  #primary-content .row > :nth-child(2) {
    padding-left: 7px; }
  #primary-content .row div {
    padding-left: 15px;
    padding-right: 15px; }
    #primary-content .row div img {
      margin-bottom: 0.7rem; }
    #primary-content .row div .row {
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
      #primary-content .row div .row img {
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        height: 100%;
        padding-bottom: 0; }
      #primary-content .row div .row :nth-child(1) {
        padding-left: 0rem; }
      #primary-content .row div .row :nth-child(2) {
        padding-right: 0rem; }

  #content-split {
    padding-bottom: 2rem;
    padding-top: 3rem; }
    #content-split .row div {
      display: flex;
      padding: 0;
      width: 100%; }
      #content-split .row div hr {
        background-color: grey;
        width: 5rem; }
      #content-split .row div #hr-one {
        margin-left: 0; }
      #content-split .row div p {
        font-size: 12px;
        margin: 0 auto;
        text-align: center; }
      #content-split .row div #hr-two {
        margin-right: 0; }

  #secondary-content {
    margin-bottom: 3rem;
    padding-left: 15px;
    padding-right: 15px; }
    #secondary-content .row div div {
      height: 50%;
      margin-bottom: 0rem; }
    #secondary-content .row div #text-box {
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
      height: 50%;
      position: absolute;
      bottom: 0;
      padding-bottom: 0;
      padding-top: 0; }
      #secondary-content .row div #text-box h3, #secondary-content .row div #text-box p, #secondary-content .row div #text-box h5, #secondary-content .row div #text-box * {
        margin: 0 auto; }
    #secondary-content .row div #2-image-tiles {
      position: absolute;
      top: 0; }

  #image-gallery .row {
    padding-left: 10px;
    padding-right: 10px; }
    #image-gallery .row div {
      padding-left: 5px;
      padding-right: 5px; }

  #email-signup {
    padding-left: 15px;
    padding-right: 15px; }
    #email-signup div {
      display: inline-flex; }
      #email-signup div h4 {
        margin: 0 auto; }

  #advert img {
    max-height: 8rem; }

  .app-advert {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .app-advert .row img {
      height: 60%; }

  #text-paragraph .row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }
    #text-paragraph .row div {
      font-size: 0.75rem; }
      #text-paragraph .row div p {
        line-height: 0.7rem; }

  #first-footer .row {
    background-color: #333;
    padding-bottom: 1rem;
    padding-top: 1rem; }
    #first-footer .row div ul {
      color: white;
      font-weight: bold;
      padding-left: 0;
      padding-right: 0; }
      #first-footer .row div ul li {
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 1.5rem; }

  #discover-area {
    border: none;
    border-bottom: 2px solid #333;
    padding-bottom: 1rem;
    padding-top: 1rem; }
    #discover-area .row div h5 {
      color: #333;
      font-size: 1rem; }

  #payment-info .row div {
    color: #333; }
    #payment-info .row div p {
      font-size: 0.75rem; }
  #payment-info .row #payment-method-cards .row div {
    margin: 0 auto; }

  #social-media .row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }

  .social-icons {
    padding-bottom: 1rem;
    padding-top: 1rem; }

  #second-footer .row div {
    max-width: 370px; }
    #second-footer .row div ul li {
      font-size: 12px; } }
@media only screen and (min-width: 1170px) {
  #top-nav, #categories, #nested-dropdown {
    background-color: #f5f5f5; }

  #nested-dropdown .row {
    padding-left: 7px; } }

/*# sourceMappingURL=index.css.map */
