@import url("https://fonts.googleapis.com/css?family=Anton");
h4 {
  font-family: Anton, sans-serif; }

.row-wrapper {
  background-color: white; }

.content {
  background-color: white;
  color: black;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 420px; }

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }
  #top-nav .content > :nth-child(1) {
    padding: 0; }
  #top-nav .content img {
    max-width: 70px;
    width: 100%;
    height: 100%; }

.mobile-nav {
  text-align: center; }
  .mobile-nav .row {
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 30rem; }
    .mobile-nav .row div {
      cursor: pointer; }
      .mobile-nav .row div span {
        color: red;
        font-size: 1.5rem; }
      .mobile-nav .row div p {
        margin-top: -0.5rem; }

.desktop-nav {
  background-color: #dadcdc;
  padding: 0.5rem; }
  .desktop-nav .row {
    margin: 0; }
    .desktop-nav .row div {
      padding: 0; }
      .desktop-nav .row div .search-bar {
        margin: 0; }
        .desktop-nav .row div .search-bar div {
          padding: 0; }
          .desktop-nav .row div .search-bar div span {
            background-color: #585858;
            color: white;
            font-size: 1.25rem;
            padding: 0.75rem;
            text-align: center; }

.desktop-navbar .row div ul {
  display: flex;
  list-style-type: none;
  padding-left: 0; }
  .desktop-navbar .row div ul li {
    flex: 1 0 25%; }

#nav-list {
  background-color: #ccc;
  padding: 0.5rem; }
  #nav-list ul {
    display: inline-flex;
    margin-bottom: 0rem;
    padding: 0.25rem;
    width: 100%; }
    #nav-list ul li {
      color: #ee3224;
      display: flex;
      flex: 1 0 25%;
      flex-direction: column;
      justify-content: center;
      text-align: center; }

.search-bar {
  background-color: pink;
  padding: 7px; }
  .search-bar .row input {
    border: none;
    height: 3rem;
    width: 85%; }

.other-links .row {
  padding-left: 1rem !important;
  text-align: center; }
  .other-links .row div {
    border: 1px solid black; }

#whats-hot {
  margin-right: 1rem; }

.gif-wrapper {
  margin-top: 9.5rem; }

#gif {
  padding: 7px;
  background-color: orange; }
  #gif div {
    background-color: blue;
    height: 4rem;
    margin: 0; }

#categories div {
  padding: 7px; }

.navbar {
  background-color: #f5f5f5;
  width: 100%; }
  .navbar button {
    border: none; }
    .navbar button:focus {
      outline: none; }
    .navbar button span {
      color: blue; }
  .navbar .navbar-collapse {
    transition: all 1s; }

.navbar-nav li {
  border-bottom: 1px solid #ccc;
  line-height: 2rem; }
  .navbar-nav li a {
    color: black;
    font-size: 0.7rem;
    font-variant: small-caps; }

#primary-content .row div {
  padding: 0rem; }
  #primary-content .row div img {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%; }
  #primary-content .row div div {
    margin: 0;
    width: 100%; }
    #primary-content .row div div img {
      height: 100%;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      padding: 7px; }
    #primary-content .row div div .left {
      padding-left: 0; }
    #primary-content .row div div .right {
      padding-right: 0; }
    #primary-content .row div div div img {
      width: 100%; }

#secondary-content .row div {
  padding: 0rem; }
  #secondary-content .row div img {
    width: 100%; }
  #secondary-content .row div #text-box {
    background-color: white;
    color: black;
    padding-bottom: 6rem;
    padding-top: 6rem;
    text-align: center; }
    #secondary-content .row div #text-box h3, #secondary-content .row div #text-box h5 {
      font-family: Anton, sans-serif; }
    #secondary-content .row div #text-box h5 {
      text-decoration: underline;
      padding-top: 1rem; }
    #secondary-content .row div #text-box p {
      font-weight: lighter;
      margin: 0; }
  #secondary-content .row div div {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%; }
    #secondary-content .row div div img {
      height: 100%;
      padding: 0px; }
    #secondary-content .row div div .left {
      padding-left: 0; }
    #secondary-content .row div div .right {
      padding-right: 0; }

#image-gallery .row div {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0rem; }
  #image-gallery .row div img {
    width: 100%; }

#suggestions-slider .content {
  padding-top: 3rem;
  padding-bottom: 3rem; }
#suggestions-slider .slider-header {
  text-align: center;
  font-family: Anton, sans-serif; }
#suggestions-slider .product-slider {
  cursor: pointer;
  width: 100%; }
  #suggestions-slider .product-slider .slick-prev {
    background-color: red;
    left: 0;
    display: none !important; }
  #suggestions-slider .product-slider .slick-next {
    background-color: red;
    right: 0;
    display: none !important; }
  #suggestions-slider .product-slider div img {
    height: 150px;
    margin: 0 auto;
    width: 150px; }
  #suggestions-slider .product-slider div h2, #suggestions-slider .product-slider div h3, #suggestions-slider .product-slider div p {
    color: black;
    text-align: center; }

#email-signup {
  padding-bottom: 3rem;
  padding-top: 3rem; }
  #email-signup div {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    #email-signup div .oi {
      font-size: 3rem; }
    #email-signup div h4 {
      font-weight: 400; }
    #email-signup div form #enter-email {
      border: 1px solid grey;
      margin-right: -0.25rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    #email-signup div form #submit-email {
      background-color: white;
      border: 1px solid black;
      font-weight: bold;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
  #email-signup span {
    font-size: .75rem;
    margin: 0 auto;
    text-align: center; }

#advert {
  padding-bottom: 4rem; }
  #advert img {
    width: 100%; }

.app-advert {
  background-color: #d42114;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  .app-advert h4 {
    font-family: Anton, sans-serif; }
  .app-advert h5 {
    font-weight: 100; }
  .app-advert .row {
    margin: 0 auto;
    max-width: 22rem; }
    .app-advert .row img {
      height: 100%; }

#nearest-store-button {
  background-color: #69c;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  #nearest-store-button h4, #nearest-store-button form {
    display: inline-block; }
  #nearest-store-button form #postcode, #nearest-store-button form #submit-postcode {
    padding: 0.5rem; }
  #nearest-store-button form #submit-postcode {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem; }

#mobile-primary-footer {
  border-bottom: 2px solid #333;
  border-top: 3px solid #333;
  padding-bottom: 2rem; }
  #mobile-primary-footer div {
    text-align: center; }
    #mobile-primary-footer div button {
      background-color: #333;
      border: none;
      border-radius: 0.25rem;
      color: white;
      font-weight: bold;
      margin-bottom: 0rem;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%; }

#first-footer .row div ul {
  list-style-type: none; }

#discover-area {
  border: 1px solid;
  margin-top: 1rem; }
  #discover-area .content {
    max-width: 600px; }
    #discover-area .content div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      #discover-area .content div img {
        height: 25px; }

#payment-info {
  margin-top: 1rem; }
  #payment-info .row div {
    text-align: center; }
  #payment-info .row #payment-method-cards .row {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 1rem; }
    #payment-info .row #payment-method-cards .row div {
      padding-left: 5px;
      padding-right: 5px; }
      #payment-info .row #payment-method-cards .row div img {
        width: 100%; }

#social-media > .row {
  background-color: #333;
  color: white;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center; }
  #social-media > .row div .social-icons {
    margin: 0 auto;
    max-width: 15rem; }
    #social-media > .row div .social-icons img {
      height: 30px; }
  #social-media > .row .app-advert {
    background-color: #333;
    margin: 0 auto;
    max-width: 400px; }

#second-footer .row {
  color: white;
  background-color: black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  #second-footer .row div {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black; }
    #second-footer .row div ul {
      list-style: none;
      display: flex;
      margin-bottom: 0rem;
      padding: 0; }
      #second-footer .row div ul li {
        flex: 1 0 33.33%;
        font-size: 14px; }
      #second-footer .row div ul #border-left-right {
        border-left: 1px solid white;
        border-right: 1px solid white; }

#scroll-to-top-button {
  bottom: 0;
  border-radius: 100%;
  border: 1px solid blue;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: fixed;
  right: -100%;
  width: 3rem;
  transition: all 1s; }
  #scroll-to-top-button .row span {
    color: blue;
    margin: 0 auto; }

@media only screen and (min-width: 768px) {
  #content-split {
    display: block; }

  .navbar {
    display: block; }

  .navbar-brand {
    display: inline-block !important; }

  #primary-content * {
    border: 1px solid black; }
  #primary-content .row div {
    padding-left: 15px;
    padding-right: 15px; }
    #primary-content .row div .row {
      padding-left: 0rem;
      padding-right: 0rem; }
      #primary-content .row div .row :nth-child(1) {
        padding-left: 0rem; }
      #primary-content .row div .row :nth-child(2) {
        padding-right: 0rem; } }

/*# sourceMappingURL=index.css.map */
