@media only screen and (min-width:400px) {
}

@media only screen and (min-width:576px) {
}

@media only screen and (min-width:$tablet) {

//Resets the sticky Nav
  #top-nav{
    position: relative;
    top: auto;
    width: auto;
    z-index: auto;
    background-color: $argos-grey-categories;
    padding-left: 15px;
    padding-right: 15px;
  }

  .gif-wrapper{
    margin-top: 1rem;
  }
//


  #content-split{display: block;}

  .navbar{display: block;}
  .navbar-brand{display: inline-block !important}

  #primary-content{
    //*{border: 1px solid black;}
    .row{
      >:nth-child(1){padding-right: 7px; padding-left: 0;}
      >:nth-child(2){padding-left: 7px; padding-right: 0;}
      div{
        padding-left: 15px;
        padding-right: 15px;
        img{margin-bottom: 0.7rem;}
        .row{
          padding-left: 0rem;
          padding-right: 0rem;

          padding-top: 0;
          margin-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
          img{
            padding-top: 0;
            margin-bottom: 0;
            margin-top: 0;
            height: 100%;
            padding-bottom: 0;
          }
          :nth-child(1){padding-left: 0rem;}
          :nth-child(2){padding-right: 0rem;}
        }
      }
    }
  }

  #content-split{
    //border: 1px solid black;
    padding-bottom: 2rem;
    padding-top: 3rem;
    .row{
      div{
        display: flex;
        padding: 0;
        width: 100%;
        hr{
          background-color: grey;
          width: 5rem;
        }
        #hr-one{margin-left: 0;}
        p{
          font-size: 12px;
          margin: 0 auto;
          text-align: center;
        }
        #hr-two{margin-right: 0;}
      }
    }
  }

  #secondary-content{
    margin-bottom: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    //*{border:1px solid black;}
    .row{
      div{
        div{
          height:50%;
          margin-bottom: 0rem;
        }
        #text-box{
          border-bottom: 1px solid grey;
          border-right: 1px solid grey;
          height: 50%;
          position: absolute;
          bottom: 0;
          padding-bottom: 0;
          padding-top: 0;

        }
        #2-image-tiles{
          position: absolute;
          top: 0;
        }
      }
    }
  }

  #image-gallery{
    padding-left: 15px;
    padding-right: 15px;
    .row{
      //padding: 15px;
      //padding-left: 10px;
      //padding-right: 10px;
      div{
        //padding-left: 5px;
        //padding-right: 5px;
        flex:1;
        max-width: none;
      }
      .image-gallery-middle{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  #email-signup{
    padding-left: 15px;
    padding-right: 15px;
    *{flex-grow: 1;}
    .row{
      span, h4{width: auto;}
      #email-terms{width: 100%;}
    }
  }
  #advert{
    img{
      max-height: 8rem;
    }
  }

  #app-advert{
    .row{
      .app-advert{
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .row{
          max-height: 5rem;
          img{height:40px; margin-top: 1rem;}
        }
      }
    }
  }


  #text-paragraph{

    .row{
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      div{

        p{
          font-size: 1rem;
          font-weight: 400;
          line-height: 1rem;
        }
      }
    }
  }

  #first-footer{
    //*{border: 1px solid black;}
    .row{
      background-color: $argos-footer-grey;
      padding-bottom: 1rem;
      padding-top: 1rem;
      div{
        ul{
          color: white;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          li{
            font-size:0.75rem;
            font-weight: normal;
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  #discover-area{
    border: none;
    border-bottom: 2px solid $argos-footer-grey;
    padding-bottom: 1rem;
    padding-top: 1rem;
    .row{
      div{
        h5{
          color: $argos-footer-grey;
          font-size: 1rem;
        }
      }
    }
  }

  #payment-info{
    .row{
      div{
        color: $argos-footer-grey;
        p{font-size: 1.25rem;}
      }
      #payment-method-cards{
        .row{
          div{
            margin: 0 auto;
          }
        }
      }
    }
  }

  #social-media{
    //*{border: 1px solid white;}
    .row{
      padding-bottom: 0.5rem;
      padding-top:0.5rem;
    }
  }
  .social-icons{
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  #second-footer{
    .row{
      div{
        max-width: 370px;
        ul{
          li{
            font-size: 1.3rem;
          }
        }
      }
    }
  }


}
@media only screen and (min-width:992px) {

  .main-nav{

  }
  #nested-dropdown{
    .row{
      padding-left: 0;
    }
  }
}

@media only screen and (min-width:1170px) {
  #top-nav, #categories, #nested-dropdown{
    background-color: $argos-grey-categories;
  }


  #primary-content{
    .row{
      >:nth-child(1){
        //padding-left: 0;
      }
      >:nth-child(2){
        //padding-right: 0;
      }
    }
  }
}
