//Colours
$argos-red: #ee3224;

$argos-grey-top-nav: #ccc;
$argos-grey-search-bar:#dadcdc;
$argos-grey-categories: #f5f5f5;
$argos-footer-grey: #333;
$argos-app-banner-red:#d42114;
$argos-categories-header-grey: #585858;

$argos-whats-hot-btn-blue: #0c509f;
$argos-nearest-store-blue: #69c;
$argos-chevron-blue: rgb(12,80,159);

$argos-clearance-btn-yellow: #ffd520;

$argos-font-purple: #781f74;











//Sizes
  $tablet: 768px;
