//Colours
$argos-red: #ee3224;
$argos-grey-top-nav: #ccc;
$argos-grey-search-bar:#dadcdc;
$argos-grey-categories: #f5f5f5;
$argos-footer-grey: #333;
$argos-app-banner-red:#d42114;
$argos-nearest-store-blue: #69c;












//Sizes
  $tablet: 768px;
