//@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";

// CSS here...
.row-wrapper{
  background-color: red;
}

.content{
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1170px;
}

@import "_media-queries.scss";
