//@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";
//Replaces Argos Compressed
  @import url('https://fonts.googleapis.com/css?family=Anton');

//*{border: 1px solid blue;}
// CSS here...

h4{font-family: Anton, sans-serif;}

.row-wrapper{
  background-color: white;
}

.content{
  background-color: white;
  color: black;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 420px;
}

#top-nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  //*{border: 1px solid black;}
  .content{
    >:nth-child(1){padding: 0;}
    img{
      max-width: 70px;
      width: 100%;
      height: 100%;
    }
  }
}


.mobile-nav{
  text-align: center;
  .row{
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 30rem;
    div{
      //border: 1px solid black;
      cursor: pointer;
      span{
        color: red;
        font-size: 1.5rem;
      }
      p{
        margin-top: -0.5rem;
      }
    }
  }
}
.desktop-nav{
  background-color: $argos-grey-categories;
  padding: 0.5rem;
  .row{
    margin: 0;
    div{

      padding: 0;
      .search-bar{
        margin: 0;
        div{
          padding: 0;
          span{
            background-color:#585858;
            color: white;
            font-size:1.25rem;
            padding: 0.75rem;
            text-align: center;

          }
        }
      }
    }
  }
}
.desktop-navbar{
  .row{
    div{
      ul{
        display: flex;
        list-style-type: none;
        padding-left: 0;
        li{
          //border: 1px solid black;
          cursor: pointer;
          flex: 1 0 25%;
          margin-right: 1.1rem;
          span{
            padding: 0.5rem;
          }

        }
      }
    }
  }
}


#nav-list{
  background-color: $argos-grey-categories;
  padding: 0.5rem;
  //padding-top: 1rem;
  ul{
    display: inline-flex;
    margin-bottom: 0rem;
    //min-height: 45px;
    padding: 0.25rem;
    width: 100%;
    li{
      color: $argos-red;
      display: flex;
      flex:1 0 25%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      span{
        //padding: 0.3rem;
      }
    }
  }
}

.search-bar{
  background-color: pink;
  padding: 7px;
  .row{
    input{
      border: none;
      height: 3rem;
      width: 85%;
    }
  }
}

.other-links{
  .row{
    bottom: 0;
    height: 80%;
    padding-left: 1rem !important;
    position: absolute;
    text-align: center;
    width: 100%;
    div{
      border: 1px solid black;
      p{

        height: 100%;
        padding-top: 5px;

      }
    }

  }
}
#whats-hot{
  background-color: #0c509f;
    color: white;
  margin-right: 1rem;
}
#clearance{
  background-color: #ffd520;
    color: black;
}

.gif-wrapper{margin-top: 9.5rem}
#gif{
  padding: 7px;
  background-color:orange;
  div{
    background-color: blue;
    height: 4rem;
    margin: 0;

  }
}
#categories{
  div{
    padding: 7px;
  }
}
.navbar{
  background-color: $argos-grey-categories;
  width: 100%;


  button{
    border:none;
    &:focus{outline: none;}
    span{color:blue;}
  }
  .navbar-collapse{
    transition: all 1s;
  }


}
.navbar-nav{
  li{
    border-bottom: 1px solid $argos-grey-top-nav;
    line-height: 2rem;
    a{
      color: black;
      font-size: 0.7rem;
      font-variant: small-caps;
    }
  }
}


.toggle-categories{
  display: none !important;
  position: absolute;
}
#nested-dropdown{
  div{
    background-color: $argos-grey-categories;
    div{
      z-index: 100000000;
    }
  }
}

.main-nav{
  //*{border: 1px solid black;}

  :before, :after{
    //content:"";
    //display: table;
  }
  :after{clear: both};
  list-style: none;
  padding: 0;
  margin:0;
  background-color: white;

  li{
    display: block;
    position: relative;
    float: left;

    width: 15rem;

    &:hover > ul{
      display: block;
      position: absolute;
    }
    &:hover {
      li{
        float: none;

      }
    }
    //&:hover a{background: blue;}
    &:hover {
      li {
        a{
          &:hover{background-color: $argos-grey-search-bar;}
        }
      }
    }

    a{
      //display: block;
      display: table-cell;
      font-size: 0.8rem;
      //padding: 1rem;
      padding: 0.75rem;
      text-decoration:none;
      white-space: nowrap;
      color: black;


    }

    ul{
      border: 1px solid $argos-grey-top-nav;
      display: none;
      height: 45rem;
      padding-left: 0;
      width: 100%;
      li{
        border-top: 0;
        width: 100%;
        //a{width: 15rem;}
      }
      ul{
        left: 100%;
        top: 0%;
        border: 1px solid $argos-grey-search-bar;
      }
    }

  }
  .oi{color: $argos-chevron-blue;}
}
.nav-levels{
  width: 10rem;
  background-color: white;
  .row{
    margin: 0;
    .oi{color: $argos-chevron-blue;}

  }
}
#nav-level-3{top: -202%;}
.categories-header{

  border-left: 1px solid $argos-grey-top-nav;
  border-right: 1px solid $argos-grey-top-nav;
  &:hover{background-color: white;}

  //transition: all 1s;
}

.rotate-180-deg{transform: rotate(180deg);}
.submenu-header{
  font-weight: bold;
  a{color: $argos-chevron-blue !important;}
}

#primary-content{
  .row{
    div{
      padding: 0rem;
      img{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;
      }

      div{
        //background-color: red;
        margin: 0;
        width: 100%;
        img{
          height: 100%;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          padding: 7px;
        }
        .left{padding-left: 0;}
        .right{padding-right: 0;}

        div{
          img{
            width: 100%;
          }

        }
      }
    }
  }
}
//not visible on mobile devices
//#content-split{}

#secondary-content{
  .row{

    div{
      padding: 0rem;
      img{
        width: 100%;
      }

      #text-box{
        background-color: white;
        color: black;
        padding-bottom: 6rem;
        padding-top: 6rem;
        text-align: center;
        h3,h5{
          font-family: Anton, sans-serif;
        }
        h5{text-decoration: underline; padding-top: 1rem;}
        p{
          font-weight: lighter;
          margin: 0;
        }
      }
      div{
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        img{
          height: 100%;
          padding: 0px;

        }
        .left{padding-left: 0;}
        .right{padding-right: 0;}
      }
    }
  }
}

#image-gallery{
  .row{
    div{
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      padding: 0rem;
      img{
        width: 100%;
      }
    }
  }
}

#suggestions-slider{
  .content{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .slider-header{
    text-align: center;
    font-family: Anton, sans-serif;
  }
  .product-slider{
    cursor: pointer;
    width: 100%;
    //border: 1px solid black;
    .slick-prev{background-color: red; left: 0; display: none !important;}
    .slick-next{background-color: red; right:0; display: none !important;}
    div{
      //border: 1px solid black;
      img{

        height: 150px;
        margin: 0 auto;
        width: 150px;
      }
      h2,h3, p{
        color: black;
        text-align: center;
      }
    }
  }
}
#email-signup{
  padding-bottom: 3rem;
  padding-top: 3rem;
  div{
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    .oi{font-size: 3rem;}
    h4{font-weight: 400;}
    form{
      #enter-email{
        border: 1px solid grey;
        margin-right: -0.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      #submit-email{
        background-color: white;
        border: 1px solid black;
        font-weight: bold;
        padding-left:2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }


  }
    span{
      font-size: .75rem;
      margin: 0 auto;
      text-align: center;
    }
}

#advert{
  padding-bottom: 4rem;
  img{width: 100%;}
}

.app-advert{
  background-color: $argos-app-banner-red;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  h4{font-family: Anton, sans-serif;}
  h5{font-weight: 100;}
  .row{
    margin: 0 auto;
    max-width: 22rem;
    img{height: 100%;}
  }
}
#nearest-store-button{
  background-color: $argos-nearest-store-blue;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  h4, form{display: inline-block;}
  form{
    #postcode, #submit-postcode{padding: 0.5rem;}
    #submit-postcode{
      border: 1px solid white;
      background-color: transparent;
      color: white;
      padding-left: 2rem;
      padding-right: 2rem;
    }

  }
}

//not visible on mobile devices
#text-paragraph{
}


#mobile-primary-footer{
  border-bottom: 2px solid #333;
  border-top: 3px solid #333;
  padding-bottom: 2rem;
  div{
    text-align: center;
    button{
      background-color: $argos-footer-grey;
      border: none;
      border-radius: 0.25rem;
      color: white;
      font-weight: bold;
      margin-bottom: 0rem;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%;
    }
  }
}

//not visible on mobile devices
#first-footer{

  .row{
    div{
      ul{
        list-style-type: none;
      }
    }
  }
}

// not visible on mobile devices
#discover-area{

  border: 1px solid;
  margin-top: 1rem;
  //padding: 1rem;
  .content{
    max-width: 600px;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img{
        height: 25px;
      }
    }
  }
}

#payment-info{
  margin-top: 1rem;
  .row{
    div{
      text-align: center;
    }
    #payment-method-cards{
      .row{
        margin: 0 auto;
        max-width: 400px;
        padding-bottom: 1rem;
        div{
          padding-left: 5px;
          padding-right: 5px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

#social-media{
  > .row{
    background-color: $argos-footer-grey;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    div{
      .social-icons{
        margin: 0 auto;
        max-width: 15rem;

        img{
          height: 30px;
        }
      }
    }
    .app-advert{
      background-color: $argos-footer-grey;
      margin: 0 auto;
      max-width: 400px;
    }

  }
}

#second-footer{

  .row{
    color: white;
    background-color: black;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    div{
      padding: 0;
      margin: 0 auto;
      text-align: center;
      border: 1px solid black;
      ul{
        list-style: none;
        display: flex;
        margin-bottom: 0rem;
        padding: 0;
        li{
          flex: 1 0 33.33%;
          font-size: 14px;
        }
        #border-left-right{
          border-left: 1px solid white;
          border-right: 1px solid white;
        }
      }
    }
  }
}

#scroll-to-top-button{
  bottom: 0;
  border-radius: 100%;
  border: 1px solid blue;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: fixed;
  right: -100%;
  width: 3rem;

  transition:  all 1s;
  .row{
    span{
      color: blue;
      margin: 0 auto;
    }
  }
}

@import "_media-queries.scss";
