//@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";

//*{border: 1px solid blue;}
// CSS here...
.row-wrapper{
  background-color: white;
}

.content{
  background-color: white;
  color: black;
  margin: 0 auto;
  max-width: 1170px;
}

#logo{
  //background-color: #ee3224;
  //padding: 0.5rem;
  padding: 0rem;
  img{
    height: 100%;
    width: 100%;
    max-width: 70px;
    max-height: 64px;
  }
}

#nav-list{
  background-color: $argos-grey-top-nav;
  padding: 0.5rem;
  //padding-top: 1rem;
  ul{
    display: inline-flex;
    margin-bottom: 0rem;
    //min-height: 45px;
    padding: 0.25rem;
    width: 100%;
    li{
      color: $argos-red;
      display: flex;
      flex:1 0 25%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      span{
        //padding: 0.3rem;
      }
    }
  }
}

#search-bar{
  background-color: pink;
  padding: 7px;
  input{
    height: 3rem;
    width: 85%;
  }
}

#gif{
  padding: 7px;
  background-color:orange;
  div{
    background-color: blue;
    height: 4rem;
    margin: 0;

  }
}
#categories{
  div{
    padding: 7px;
  }
}
.navbar{
  background-color: $argos-grey-categories;
  width: 100%;


  button{
    border:none;
    &:focus{outline: none;}
    span{color:blue;}
  }
  .navbar-collapse{
    transition: all 1s;
  }
}
.navbar-nav{
  li{
    border-bottom: 1px solid $argos-grey-top-nav;
    line-height: 2rem;
    a{
      color: black;
      font-size: 0.7rem;
      font-variant: small-caps;
    }
  }
}
#primary-content{
  .row{
    div{
      padding: 0rem;
      img{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;
      }
      div{
        width: 100%;
        img{
          height: 100%;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          padding: 7px;
        }
        div{
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

//not visible on mobile devices
#content-split{display: none;}

#secondary-content{
  .row{

    div{
      padding: 0rem;
      img{
        width: 100%;
      }

      #text-box{
        background-color: white;
        color: black;
        text-align: center;
        P{margin: 0;}
      }
      div{
        width: 100%;
        img{
          height: 100%;
          padding: 0rem;

        }
      }
    }
  }
}

#image-gallery{
  .row{
    div{
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      padding: 0rem;
      img{
        width: 100%;
      }
    }
  }
}

.product-slider{
  width: 100%;
  //border: 1px solid black;
  .slick-prev{background-color: red; left: 0;}
  .slick-next{background-color: red; right:0;}
  div{
    //border: 1px solid black;
    img{

      height: 150px;
      margin: 0 auto;
      width: 150px;
    }
    h2,h3, p{
      color: black;
      text-align: center;
    }
  }
}

#email-signup{
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  .oi{font-size: 3rem;}
  span{font-size: .75rem; }
}

#advert{
  img{width: 100%;}
}

#app-advert{
  background-color: red;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  .row{
    img{height: 100%;}
  }
}
#nearest-store-button{
  background-color: cyan;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

//not visible on mobile devices
#text-paragraph{
  display: none;
}


#mobile-primary-footer{
  border-top: 3px solid #333;
  div{
    text-align: center;
    button{
      background-color: $argos-footer-grey;
      border: none;
      border-radius: 0.25rem;
      color: white;
      font-weight: bold;
      margin-bottom: 0rem;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%;
    }
  }
}

//not visible on mobile devices
#first-footer{
  display: none;
  .row{
    div{
      ul{
        list-style-type: none;
      }
    }
  }
}

// not visible on mobile devices
#discover-area{
  //display: none;
  border: 1px solid;
  margin-top: 1rem;
  //padding: 1rem;
  .content{
    max-width: 600px;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img{
        height: 25px;
      }
    }
  }
}

#payment-info{
  margin-top: 1rem;
  .row{
    div{
      text-align: center;
    }
    #payment-method-cards{
      .row{
        margin: 0 auto;
        max-width: 400px;
        padding-bottom: 1rem;
        div{
          padding-left: 5px;
          padding-right: 5px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}


@import "_media-queries.scss";
